.intro{
    padding: 12vh 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.yellow{
    color: #f39c12;
}
.introduction{
    width: 50%;
    padding-left: 100px;    
}
.introduction h1{
    font-size: 4rem;
}
.city{
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    margin-bottom: 10px;
}
.introduction-picture{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.introduction-picture img{
    max-width: 80%;
    border-radius: 50% 70% 70%;
    margin-left: 20px;
}
.intro-btns{
    margin-top: 40px;
}
.btn{
    text-decoration: none;
    color: #000;
    padding: 10px;
    transition: all 0.2s;
}
.yellow-btn{
    background-color: #f39c12;
    color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #f39c12;
}
.intro-btns a:nth-child(2){
    margin-left: 10px;
}
.black-btn{
    background-color: #000;
    color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid black;
}
.black-btn:hover{
    background-color: #f9f9f9;
    color: #000;
}
.yellow-btn:hover{
    color:#f39c12;
    background-color: #f9f9f9;
}
.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}
.heading{
    font-size: 2.5rem;
}
/* Specials */
.specials{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 40px;
}

/* Testimonials */
.testimonials{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
@media only screen and (max-width:1000px){
    .intro{
        flex-direction: column-reverse;
    }
    .introduction, .introduction-picture{
        width: 100%;
    }
    .introduction{
        text-align: center;
        padding: 0;
    }
    .introduction-picture img{
        max-width: 350px;
        margin-bottom: 20px;
    }
}